* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*supprimer marge bordure etc*/
}
/*  ajustement du logo*/
.bn {
    height: 53px;
    top: 1px;
    z-index: 3;
    margin: 5px 5% 0 0%;
}
.bg
{
    background-color: #000000!important;
    }








/* modifications des items */
ul li {
    width: 230px;
    opacity: .8;
    text-align:center;
    font-size: 20px;
    float: left;

}




/* page web*/

.lololo {
    background-image:  url(../img/modeles/background-acceuil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;

}

#bcontact

{
    background-image:url(../img/modeles/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}

#modeles
{
    background-image: url(../img/modeles/imagesmodeles-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}
/******************* fin de la page web************************/

/* formulaire */
section {
    display: flex;
    flex-flow: wrap;
}


#feedback-page {
    text-align: center;
}

form {width: 50%;}

#form-main {
    width: 100%;
    float: left;
    padding-top: 0px;
}




.focused {
    color: #30aed6;
    border: #30aed6 solid 3px;
}



textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    background-color: white;
}




.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease {
    width: 100%;
    background-color: white;
}

@media only screen and (max-width: 580px) {
    #form-div {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}
/* MODIFICATIONS COULEUR LIENS*/
.nav-link:hover
{
    color: white!important;
}
.nav-link
{
    color: orange!important;
}
/* MODIFICATIONS DE LA PAGE D ACCEUIL */
#home
{
    color:  rgba(255,255,255,.5)
}

h1
{
    text-align: center;
    padding: 50px;
    color: black;

}

h2
{
    color: orange;
    margin-left: 700px;
    margin-top:  -99px;
    color: #696969;
}
.text1
{

    text-align: center;
    top: 980px;
}
/* LA CARTE */
.maps

{
    width: 40%;
    margin: 0 700px;
    margin-bottom: 150%;
}
/* fin de la modifications de la carte*/



/*  alignement du formulaire et de la carte   */
.contact {
    display: flex;
    flex-direction: row;
    width: 100%;

}
/* fin de lalaignement de la carte     */


/* media queries   la responsivite de la page contact pour la maps et le formulaire de contact */



/* fin de la media querie*/


/*  slider  annimation*/
.slider
{
    border: 10px solid #fff;
    width: 100%;
    height: 540px;
    margin-top: -10%;
    animation: slide 15s infinite;
}
@keyframes slide {
    0%{
        background: url(../img/images-sliders/slide1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    50%{
        background: url(../img/images-sliders/slide2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    100%{
        background: url(../img/images-sliders/slide3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
/* fin de lannimations svg*/

/* meedia query pour le slider*/


/* fin du media query */

/* modifications du text n2 de la page dacceuil */


.text2
{
    color: black;

}
/* FIN DE LA MODIFICATION DU TEXT2S*/



#pages4
{

    background-image:url(../img/modeles/reserveme.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:100%;


}
#info
{position: absolute;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    line-height: 15%;
    top: 95px;
    color: #353b41;
}

#register {
    color: black;
    background-image:url(../img/modeles/TrialsRising_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;


}

#initiations
{

    background-image:  url(../img/modeles/initiation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.ini1
{
    color: orange;
}
/* modifications du pied de page */
footer {
    background-color: #000000;
    padding: 2%;
    text-align: center;
    color: white;


}
/* fin de la modifications du footer */
.fef{
    display: flex;


}
.mappp
{
    margin-left: 2%;
    margin-bottom: 20px;
    margin-top: -42px;

}


/* modifiactions texte */
.tarifs
{
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    text-align: center;
}
#initier {
    font-family: Arial;
    font-size: 20px;
}


.text1
{
    text-align: center;
    font-family:  arial;
    font-size: 25px;
    margin-top: -70px;

}
p
{
    text-align: center;
    font-family:serif;

}
.de
{
    color:black;

}



.gallery
{ font-family: sans-serif;
    text-align: center;
    color: black;
    margin:  30px  50px;
}
/* fin modifications texte */

.reserve
{
    color: black;
    font-family: "The Queen ";
    font-style: inherit;
    font-size: 2.5em;
    text-align: center;
    margin-left: -80%;
    margin-top: 36px;

}


/* css de limage de la page album */
.imgg
{
    padding: 150px 50px   ;
    filter: grayscale(100%);
    transition: 1s;
    margin-top: -198px;



}

.imaage {
    background-image:url(../img/modeles/cassel2-4284400.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;



}
.imgg:hover
{
    filter: grayscale(0%);
}
.gallery:hover
{
    color: orange;
}
/* fin du css de lalbum img */


/* CSS pour le rectangle cookies */

.fleee
{
    display : flex;
    align-items :center;
    margin : 6% 0 4% 0;
    flex-direction: row-reverse;
}
table
{
    margin-top: -177px;
    margin-left: 50px;

}
.Albums
{
    color: black;
    margin-top: 50px;
    font-family: "The Queen ";
    font-style: inherit;
    font-size: 2.5em;
    text-align: center;
}
.contactt
{ color: black;
    font-family: "The Queen ";
    font-style: inherit;
    font-size: 2.5em;
    text-align: center;
    margin-left: -80%;

}
/* fin du css pour le rectangle cookies */




/*** debut responsive */
@media screen and (max-width:768px)

{
    .contactt
    { color: black;
        font-family: "The Queen ";
        font-style: inherit;
        font-size: 2.5em;
        text-align: center;
        margin-left: -70%;

    }
    .Albums
    {
        color: black;
        margin-top: -4px;
        font-family: "The Queen ";
        font-style: inherit;
        font-size: 2.5em;
        text-align: center;
    }

    .fleee
    {
        display: flex;
        flex-direction: column;

    }
    table
    {
        margin-top: -61px;
        margin-left: 25px;
        align-items: center;


    }

    .quadd
    {
        display: none;
    }
    .imgg {
        padding : 150px 0px 20px 0px;
        display : flex;
        flex-wrap : wrap;
        transition: 1s;
        filter : grayscale(100%);
    }
    .imgg img {
        width : 90%;
        margin : 3%;
    }
    .imgg a {
        width: 33%;
        text-align:center;
    }
    .bg
    {
        background-color: transparent !important;
    }

    .reserve
    {
        color: black;
        font-family: "The Queen ";
        font-style: inherit;
        font-size: 2.5em;
        text-align: center;
        margin-left: -43%;
        margin-top: 0px;

    }




    nav a  {
        color: #ffc107;
        text-decoration: none;
        background-color: rgb(0, 0, 0);
        text-align: center;
    }
    @keyframes slide {
        0% {
            background: url(../img/images-sliders/New-Project.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        50% {
            background: url(../img/images-sliders/New-Project-1.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

        100% {
            background: url(../img/images-sliders/New-Project-3.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .fef {
        display: flex;
        flex-direction: column;

    }


    .okk {

        top: 56%;
        position: absolute;
        text-align: right;
        right: 78%;
        color: black;

    }

    #initier {
        font-family: Arial;
        font-size: 15px;
    }


    .cookiee {
        height: 100px;
        width: 200px;
        background-color: orange;
        top: 48%;
        position: absolute;
        text-align: left;

    }

    .tarifs {
        font-family: 'Lobster Two', cursive;
        font-size: 22px;
        text-align: center;
        padding-top: 9%;
    }

    .text1 {
        text-align: center;
        font-family: arial;
        font-size: 15px;
    }

    .mappp {
        width: 100%;
        margin: 5% auto;
        top: 30px;
    }

    form {
        width: 100%;
    }

}
/****** fin media query*/
/* code pour le butons responsive */
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: black;
    border: 1px solid white;
    border-radius: .25rem;
}

/* fin du  code pour le butons responsive */
/********* code buttons */
.buttonss {
    padding: 6px 0 6px 0;
    font: Bold 13px Arial;
    background: #d34836;
    color: #fff;
    width: 140px;
    border-radius: 2px;
    border: none;
}

.butter {
    padding: 6px 0 6px 0;
    font: bold 13px Arial;
    background: #478bf9;
    color: #fff;
    border-radius: 2px;
    width: 140px;
    border: none;

}

/* fin des boutons */

@font-face {
    font-family: "The Queen ";
    src: url(" The Queen-Regular.ttf ");
}
td {
    border: 1px solid black;
}
.ligne-impaire
{
    background-color: white;
}
.ligne-paire{

    background-color: orange;
}

.twt
{
    color: #1dcaff;
}
.inss
{
    color: mediumvioletred;
}

.fbbbb
{
    color: #0000cc;
}

.noww
{
    color: black;
    font-family: "The Queen ";
    font-style: inherit;
    font-size: 2.5em;
    text-align: center;
    margin-left: 0px;
    margin-top: -34px;

}
a {
    color: orange;
    text-decoration: none;
    background-color: transparent;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    color: orange;
}


.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    color: orange;
}