{% extends 'base.html.twig' %}
{% block body %}



    <div class="container-fluid imaage ">
        <h1 class="Albums" > Image gallery Design  </h1>
        <br>

        <div class="imgg  " >
        <a href="img/modeles/téléchargement-1.jpg">

            <img src="img/modeles/téléchargement-1.jpg "></a>
        <a href="img/modeles/téléchargement-2.jpg"  data-lightbox="roadtrip"> <img src="img/modeles/téléchargement-2.jpg "></a>
         <a href="img/modeles/téléchargement-3.jpg"  data-lightbox="roadtrip"> <img src="img/modeles/téléchargement-3.jpg "> </a>
        <a href="img/modeles/téléchargement-4.jpg"  data-lightbox="roadtrip"> <img src="img/modeles/téléchargement-4.jpg "> </a>
        <a href="img/modeles/téléchargement-5.jpg "  data-lightbox="roadtrip"><img src="img/modeles/téléchargement-5.jpg ">  </a>
        <a href="img/modeles/kid.png "  data-lightbox="roadtrip"> <img src="img/modeles/kid.png "> </a>
        <a href="img/modeles/projectt.png"  data-lightbox="roadtrip"> <img src="img/modeles/projectt.png"></a>
        <a href="img/modeles/quad2.png"  data-lightbox="roadtrip"> <img src="img/modeles/quad2.png"> </a>
         <a href="img/modeles/quad1.png"  data-lightbox="roadtrip"> <img src="img/modeles/quad1.png"></a>
        <a href="img/modeles/quadd.png " class="quadd"  data-lightbox="roadtrip"> <img src="img/modeles/quadd.png"> </a>



</div>
    </div>
{% endblock %}















    

    
    
    
    
