{% extends 'base.html.twig' %}
{% block body %}
<head>

</head>
<h1 class="gallery"> Album photos </h1>
    <div class="imgg  " >
        <a href="img/modeles/téléchargement-1.jpg">  <img src="img/modeles/téléchargement-1.jpg "></a>
        <a href="img/modeles/téléchargement-2.jpg"> <img src="img/modeles/téléchargement-2.jpg "></a>
         <a href="img/modeles/téléchargement-3.jpg"> <img src="img/modeles/téléchargement-3.jpg "> </a>
        <a href="img/modeles/téléchargement-4.jpg"> <img src="img/modeles/téléchargement-4.jpg "> </a>
        <a href="img/modeles/téléchargement-5.jpg " ><img src="img/modeles/téléchargement-5.jpg ">  </a>
        <a href="img/modeles/kid.png "> <img src="img/modeles/kid.png "> </a>
        <a href="img/modeles/projectt.png"> <img src="img/modeles/projectt.png"></a>
        <a href="img/modeles/quad2.png"> <img src="img/modeles/quad2.png"> </a>
         <a href="img/modeles/quad1.png"> <img src="img/modeles/quad1.png"></a>
        <a href="img/modeles/quadd.png"> <img src="img/modeles/quadd.png"> </a>


</div>

{% endblock %}















    

    
    
    
    
