{% extends 'base.html.twig' %}

{% block body %}



<div class="lololo">

</div>
    <div class="container">

        <div class="slider">
        </div>
        <h1 class="noww">  Bienvenue chez Biker-Now </h1>


        </div>
        <p class="text1">

        <br>
            Initiations de motocross  en régions parisienne  et en Ile de france
            <br>

            Enfants et Adultes sont les bienvenus

            complexe de 16 000M² Entiérement dédié aux Jeunes Motards !
        </p>



{% endblock %}