{% extends 'base.html.twig' %}

{% block body %}






    <div id="acceuil">
    </div>
    <div class="container">
        <div class="slider">
        </div>
        <p class="cookiee">   Ce site utilise des cookies pour permettres une meilleur navigations sur le site internet   </p>
        <a href=""> <p class="okk">  OK        </p> </a>
        <p class="text1">

            Bienvenue chez Biker-Now 
        <br>
            Initiations de motocross  en régions parisienne  et en Ile de france

            Enfant et Adultes sont les bienvenus

            COMPLEXE DE 16 000M² ENTIÈREMENT DÉDIÉ AUX JEUNES MOTARDS !
        </p>
    </div>
    <script type="text/javascript">

    </script>

{% endblock %}