{% extends 'base.html.twig' %}

{% block body %}

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#FFA500"
                    },
                    "button": {
                        "background": "#f1d600"
                    }
                }
            })});
    </script>


    <link href="http://fr.allfont.net/allfont.css?fonts=garamond" rel="stylesheet" type="text/css" />






    <div id="acceuil">
    </div>
    <div class="container">
        <div class="slider">
        </div>
        <p class="text1">

            Bienvenue chez Biker-Now 
        <br>
            Initiations de motocross  en régions parisienne  et en Ile de france

            Enfant et Adultes sont les bienvenus

            COMPLEXE DE 16 000M² ENTIÈREMENT DÉDIÉ AUX JEUNES MOTARDS !
        </p>
    </div>
    <script type="text/javascript">

    </script>

{% endblock %}