{% extends 'base.html.twig' %}

{% block body %}

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
<script  src="js/main.js"></script>
    <div id="acceuil">
    </div>
    <div class="container">
        <div class="slider">
        </div>
        <div class="disparait">
        <p class="cookiee">   Ce site utilise des cookies pour permettres une meilleur navigations sur le site internet   </p>
            <button class="btn btn-lg u-btn-primary g-font-weight-600 g-font-size-default rounded-3 text-uppercase g-py-15 g-px-30 okk" type="submit">
            OK
            </button>


        </div>
        <p class="text1">

            Bienvenue chez Biker-Now 
        <br>
            Initiations de motocross  en régions parisienne  et en Ile de france

            Enfant et Adultes sont les bienvenus

            COMPLEXE DE 16 000M² ENTIÈREMENT DÉDIÉ AUX JEUNES MOTARDS !
        </p>
    </div>
    <script type="text/javascript">

    </script>

{% endblock %}