{% block body %}

<p>
    MENTIONS LÉGALES ET CONDITIONS GÉNÉRALES D’UTILISATION
1. INFORMATIONS LÉGALES
1.1 PROPRIÉTAIRE ET ÉDITEUR DU SITE INTERNET
Le Site Internet est édité par la société IPF :






Tél : 0783364845

1.2 DIRECTEUR DE LA PUBLICATION

1.3 HÉBERGEMENT ET RÉALISATION DU SITE INTERNET
Le site est hébergé sur les serveurs de la société

Synten





2.1 MARQUES, LOGO, NOMS COMMERCIAUX, NOMS DE DOMAINE :
Les marques, logos, sigles, dénominations sociales, noms commerciaux, enseignes et/ou nom de domaine de l’école IRIS et/ou de ses partenaires commerciaux mentionnés dans le Site Internet constituent des signes distinctifs insusceptibles d’utilisation sans l’autorisation expresse et préalable de leur titulaire.

Tout usage, reproduction, représentation, imitation, modification totale ou partielle de ces signes distinctifs est donc prohibée et constitutif de contrefaçon de marque, en application des dispositions du Livre 7 du Code de la propriété intellectuelle et engage la responsabilité civile délictuelle de son auteur, par application des dispositions de l’article 1382 du Code civil.

2.2 DROITS D’AUTEUR (PHOTOGRAPHIES, IMAGES, SONS) :
Le Site Internet est la propriété pleine et entière de l’école IRIS, titulaire ou concessionnaire des droits de propriété intellectuelle y attaché. En effet, la structure générale du site Internet (charte graphique) ainsi que son contenu (textes, slogans, images, photographies, sons, vidéos, etc) sont la propriété de l’école IRIS ou de tiers autorisés à les utiliser, et sont protégés au titre du droit d’auteur.

Ainsi, toute représentation, reproduction, modification, dénaturation et/ou exploitation totale ou partielle du Site Internet et/ou de son contenu, par quelque procédé que ce soit et sur quelque support que ce soit, sans l’autorisation expresse et préalable de l’école IRIS, est prohibée et constitue à cet effet des actes de contrefaçon de droit d’auteur, par application des dispositions du Livre 1er du Code de la propriété intellectuelle et engage la responsabilité pénale et civile de l’Utilisateur sur le fondement de la contrefaçon de droits d’auteur.

2.3 BASES DE DONNÉES :
Conformément aux dispositions de l’article 341-1 du Code de la propriété intellectuelle, l’Utilisateur du Site Internet reconnaît les droits dont dispose  tout ou partie du des bases de données accessibles sur le Site Internet, en sa qualité de producteur.

Ainsi, toute extraction, utilisation, stockage, reproduction, représentation ou conservation, directe ou indirecte, partielle ou totale, y compris en mémoire tampon ou temporaire, qualitativement ou quantitativement substantielle du contenu d’une ou plusieurs des bases de données de l’école IRIS, commise par l’un des procédés visés ci-dessus est strictement prohibée, y compris par un média

2.4 LIENS HYPERTEXTES :
La mise en place de tout lien hypertexte vers tout ou partie du Site Internet est strictement interdite, sauf autorisation préalable et écrite de

ne saurait être tenue responsable du contenu, des données, des produits et informations diverses proposés à travers les sites Internet vers lesquels des liens hypertextes sont réalisés.

En particulier, l’école IRIS se dégage de toute responsabilité relative aux sites Internet dont les données ne seraient pas conformes aux dispositions légales et réglementaires en vigueur.

2.5 COOKIES :


Les cookies sont des informations afférentes à la navigation de l’ordinateur des visiteurs et utilisateurs du site Internet. Ils permettent de déterminer les pages consultées, la date et l’heure de la consultation, etc. Pour autant, à aucun moment, ils ne permettront à l’école IRIS d’identifier personnellement les Utilisateurs.

L’Utilisateur est cependant informé qu’il a la faculté de s’opposer à l’enregistrement de ces « cookies » et ce notamment en configurant son navigateur sur Internet.

Google Chrome : https://support.google.com/chrome/answer/cookies

Internet Explorer : http://windows.microsoft.com/fr-fr/internet-explorer/delete-manage-cookies

Mozilla Firefox : http://support.mozilla.org/fr/kb/activer-desactiver-cookies


3. CONFIDENTIALITÉ – DONNÉES PERSONNELLES
L’école IRIS est responsable du traitement des données à caractère personnel susceptibles d’être collectées par l’intermédiaire du Site Internet.

Toutes les informations à caractère personnel transmises par l’Utilisateur du Site Internet sont soumises aux dispositions de la loi N°78-17 du 6 janvier 1978 relative à l’Informatique, aux Fichiers et aux Libertés dite Informatique et Libertés, et aux lois et textes subséquents qui l’ont modifiée.

Dans l’hypothèse où l’Utilisateur devait être amené à communiquer ses données à caractère personnel, l’école IRIS :

– s’engage à n’utiliser lesdites données que pour pouvoir répondre à ses éventuelles demandes d’informations, et – se réserve la possibilité de lui adresser de nouveaux messages, pour lui proposer des offres et ce, sauf refus exprès de sa part.

Le traitement de données à caractère personnel mis en œuvre par l’école IRIS via son Site Internet poursuit les finalités suivantes :

(i.) l’établissement de statistiques générales sur le trafic du Site Internet, (ii.) répondre aux attentes, questions et besoins exprimés par les Utilisateurs de son Site Internet, (iii.) la gestion de la clientèle de l’école IRIS, y compris les clients éventuels, (iv.) la gestion de la relation contractuelle, (v.) la prospection commerciale ou le marketing direct de produits et services dont la promotion est faite par Agnelle et ce, avec l’accord exprès et préalable de(s) l’Utilisateur(s) concerné(s).

L’école IRIS s’engage à faire toutes diligences raisonnables pour assurer la sécurisation et la confidentialité des données à caractère personnel des Utilisateurs du Site internet et veiller à ce qu’elles ne soient accessibles qu’au personnel autorisé de l’école IRIS.

L’école IRIS s’engage également à ne pas donner, vendre ou louer à des tiers, les données à caractère personnel des Utilisateurs du Site Internet, à moins qu’une disposition légale ou règlementaire ou une autorité judiciaire ne l’oblige à le faire.

Les messages électroniques et les adresses électroniques envoyés à l’école IRIS ne sont conservés que pour la durée nécessaire à leur traitement.

Conformément aux dispositions des articles 38, 39, 40 de la loi N°78-17 du 6 janvier 1978 dite Informatique et Libertés modifiée par la loi n°2004-801 du 6 août 2004, l’Utilisateur dispose à tout moment d’un droit d’accès, d’opposition, de rectification et de suppression des données à caractère personnel le concernant et collectées par l’école IRIS.

Pour ce faire, l’Utilisateur peut adresser un courrier simple à l’école IRIS ou par téléphone.

4. RESPONSABILITÉ
Toute information concernant l’école IRIS, de quelque nature que ce soit, accessible sur le réseau Internet en dehors du présent Site Internet, aura de fait été transmise sans l’autorisation de l’école IRIS et ne saurait donc engager sa responsabilité.

L’école IRIS n’est tenue qu’à une simple obligation de moyens concernant les informations accessibles sur le Site Internet, lesquelles ne sont pas nécessairement complètes, exhaustives, précises ou à jour.

L’école IRIS décline donc toute responsabilité et ne peut être tenue responsable de l’interprétation des informations contenues sur le Site Internet, ni des conséquences de leur utilisation.

Malgré tout le soin apporté à sa réalisation et à son exactitude, le présent Site Internet ne peut pas constituer un document contractuel et ne saurait fonder une action en justice. L’école IRIS ne pourra encourir aucune responsabilité du fait d’erreurs, d’omissions, ou de l’impossibilité d’accéder sur le Site Internet.

L’accès et l’utilisation du Site Internet par l’Utilisateur est faite sous sa seule responsabilité.

5. MODIFICATION
Les présentes mentions légales peuvent être modifiées et/ou adaptées à tout moment. L’Utilisateur est donc invité à les consulter régulièrement.

6. DROIT APPLICABLE ET JURIDICTION COMPÉTENTE
Les présentes mentions légales sont régies par la loi française.

Tout litige relatif à la validité, l’interprétation de l’une quelconque des dispositions des présentes mentions légales est soumis à la compétence exclusive des tribunaux français.

7. Qualifications
Les formations de l’IRIS ont reçu la qualification OPQF qui atteste de leur qualité et du professionnalisme de l’école.
Les diplômes, licences et masters européens (DEES) ne sont pas inscrits au Répertoire National des Certifications Professionnelles. Ils ne sont pas reconnus par les Universités françaises.
</p>
{% endblock %}